<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <script>
    $(document).ready(function() {
        $("#courseName").change(function() {
            var courseNo = $(this).val();
            $.get("/"+courseNo+"/getClasses", function(data) {
                var html = "";
                data.forEach(function(cls) {
                    html += "<option value='"+cls.clsno+"'>"+cls.clsno+"</option>";
                });
                $("#classNo").html(html);
            });    
        });
        $("#classNo").change(function() {
            var classNo = $(this).val();
            $.get("/"+classNo+"/getTa", function(data) {
                var html = "";
                data.forEach(function(ta) {
                    html += "<option value='"+ta.name+"'>"+ta.name+"</option>";
                });
                $("#classTa").html(html);
            });
        });
    });    
    </script>
  </head>
  <body>
    <p>你好，亲爱的<%= username %>同学 <a href="/logout">退出</a></p>
    <h4>你可以在这里进行选课</h4>
    <% if(message) { %>
        <p><%= message %></p>
    <% } %>
    <form method="post" action="/<%= username %>/addRecord">
        课程名:
        <select id="courseName" name="cno">
            <option selected>无</option>
            <% courses.forEach(function(course) { %>
            <option value="<%= course.cno %>">
                <%= course.cname %>
            </option>
            <% }) %>
        </select>
        课堂名:
        <select id="classNo" name="clsno">
            <option selected>无</option>
        </select>
        任课教师:
        <select id="classTa" name="tname">
            <option>无</option>        
        </select>
        <input type="submit" value="选课">
    </form>
    <h4>下面是你的所有选课记录</h4>
    <table>
        <tr>
            <th>课程名</th>
            <th>课堂编号</th>
            <th>任课教师</th>
            <th>成绩</th>
        </tr>
        <% records.forEach(function(record) { %>
        <tr>
            <td><%= record.cname %></td>
            <td><%= record.clsno %></td>
            <td><%= record.tname %></td>
            <td><%= record.grade %></td>
        </tr>
        <% }) %>
    </table>
  </body>
</html>
